body{
    background-color:rgba(211,255,246,1);
    text-align:center;
}
body::-webkit-scrollbar {
    width: 15px;
  }
body::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
}
body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(45deg, #13FF89, #00E4FF);
    border-radius: 10px;
    -webkit-box-shadow: rgba(0,0,0,.12) 0 3px 13px 1px;
}
#divsebas{
    text-align: center;
}
#titulo{
    text-align: left;
}
#lilogin{
    color:red;
    text-decoration: underline;
}
#liregister{
    color:orange;
    text-decoration: underline;
}
#divlistas{
    margin-left:1%;
    text-align: left;
}
#listas{
    border:1px solid black;
}
.td{
    border:1px solid black;
}
#form{
    margin-left:30%;
}